fastapi
uvicorn
httpx
firebase-admin
google-cloud-storage
langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
pypdf
docx2txt
python-docx
unstructured
openpyxl
python-magic
pandas
openai
google-generativeai
sentence-transformers
pyyaml
python-dotenv
toml
pytest-asyncio
requests
langchain-openai
email-validator
dnspython
pydantic
beautifulsoup4
matplotlib
numpy
tiktoken
PyPDF2
python-pptx
xlsxwriter
lxml
seaborn
plotly
langchain_google_genai
python-multipart
asynctest
